<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Bog Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><strong>Bog Blog</strong></li>
          </ul>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </header>
      <main class="container">
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>
  </body>

</html>